test-flows/echo-example.json
[{"id":"6bb4ec54.5a7b14","type":"http in","z":"44476c7f.cb1e4c","name":"","url":"/weight","method":"post","swaggerDoc":"","x":252,"y":242,"wires":[["e8d9b21a.46dc08","252d7480.f48b14"]]},{"id":"e8d9b21a.46dc08","type":"debug","z":"44476c7f.cb1e4c","name":"","active":true,"console":"false","complete":"payload","x":420,"y":142,"wires":[]},{"id":"252d7480.f48b14","type":"http response","z":"44476c7f.cb1e4c","name":"","x":477,"y":244,"wires":[]},{"id":"24ea1661.2d5912","type":"http in","z":"44476c7f.cb1e4c","name":"","url":"/input","method":"get","swaggerDoc":"","x":227,"y":184,"wires":[["e8d9b21a.46dc08","8350e789.83dde"]]},{"id":"8350e789.83dde","type":"function","z":"44476c7f.cb1e4c","name":"","func":"msg.payload=\"everything OK\";\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":196,"wires":[["252d7480.f48b14"]]}]
