test-flows/request-proxy.json
[{"id":"8f83d7cd.ca69d8","type":"inject","z":"7d0e3503.68af6c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":237,"y":109,"wires":[["df62dfa5.622178"]]},{"id":"8ecf124c.216e08","type":"debug","z":"7d0e3503.68af6c","name":"","active":true,"console":"false","complete":"false","x":606,"y":115,"wires":[]},{"id":"464b40dc.600d","type":"http request","z":"7d0e3503.68af6c","name":"","method":"GET","ret":"txt","url":"localhost:8080/input","tls":"","x":420,"y":201,"wires":[["8ecf124c.216e08"]]},{"id":"df62dfa5.622178","type":"function","z":"7d0e3503.68af6c","name":"","func":"msg.headers = {'Authorization': 'bearer '+msg.token};\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":90,"wires":[["464b40dc.600d"]]}]
